In [1]:
l = [('city', 'hyd'),
 ('street', 'st1'),
 ('name', 'n1'),
 ('id', 1),
 ('pan', 'pannumber'),
 ('adhar', '1357')]

d={}
for i in l:
    print i

('city', 'hyd')
('street', 'st1')
('name', 'n1')
('id', 1)
('pan', 'pannumber')
('adhar', '1357')

In [2]:
l = [('city', 'hyd'),
 ('street', 'st1'),
 ('name', 'n1'),
 ('id', 1),
 ('pan', 'pannumber'),
 ('adhar', '1357')]

d={}
for i in l:
    print i
    break

('city', 'hyd')

In [3]:
a,b=10,20

In [4]:
a

10

In [5]:
b

20

In [6]:
a,b=[10,20]

In [7]:
a

10

In [8]:
b

20

In [9]:
a=[10,20]

In [10]:
type(a)

list

In [11]:
a=(10,20)

In [12]:
type(a)

tuple

In [13]:
a=10,20

In [14]:
type(a)

tuple

In [15]:
a

(10, 20)

In [16]:
a,b=10,20

In [17]:
a

10

In [18]:
b

20

In [19]:
a=10,20,30,40,50

In [20]:
a

(10, 20, 30, 40, 50)

In [21]:
a,b=10,20,30

ValueError: too many values to unpack

In [22]:
a,b,c,d = 10,20,30,40

In [23]:
a

10

In [24]:
d

40

In [25]:
b

20

In [26]:
c

30

In [27]:
type(a)

int

In [28]:
l = [('city', 'hyd'),
 ('street', 'st1'),
 ('name', 'n1'),
 ('id', 1),
 ('pan', 'pannumber'),
 ('adhar', '1357')]

d={}
for i in l:
    print i
    break

('city', 'hyd')

In [29]:
l = [('city', 'hyd'),
 ('street', 'st1'),
 ('name', 'n1'),
 ('id', 1),
 ('pan', 'pannumber'),
 ('adhar', '1357')]

d={}
for key,value in l:
    print key,value

city hyd
street st1
name n1
id 1
pan pannumber
adhar 1357

In [30]:
l = [('city', 'hyd'),
 ('street', 'st1'),
 ('name', 'n1'),
 ('id', 1),
 ('pan', 'pannumber'),
 ('adhar', '1357')]

d={}
for key,value in l:
    print key,value
    d[key]=value
print d

city hyd
street st1
name n1
id 1
pan pannumber
adhar 1357
{'city': 'hyd', 'name': 'n1', 'street': 'st1', 'adhar': '1357', 'id': 1, 'pan': 'pannumber'}

In [32]:
dict(l)

{'adhar': '1357',
 'city': 'hyd',
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber',
 'street': 'st1'}

In [33]:
d

{'adhar': '1357',
 'city': 'hyd',
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber',
 'street': 'st1'}

In [34]:
d

{'adhar': '1357',
 'city': 'hyd',
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber',
 'street': 'st1'}

In [35]:
d1=d

In [36]:
print d

{'city': 'hyd', 'name': 'n1', 'street': 'st1', 'adhar': '1357', 'id': 1, 'pan': 'pannumber'}

In [37]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [38]:
l=[10,20,30,40]

In [39]:
l.pop()

40

In [40]:
d.pop('street')

'st1'

In [41]:
d

{'adhar': '1357', 'city': 'hyd', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [42]:
d1

{'adhar': '1357', 'city': 'hyd', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [43]:
a=10

In [44]:
a=100

In [45]:
b=10

In [46]:
c=10

In [47]:
l1=[1,2,3,4]
l2=[1,2,3,4]

In [48]:
a=10
b=10

In [51]:
d={'adhar': '1357',
 'city': 'hyd',
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber',
 'street': 'st1'}

In [52]:
d1=d

In [53]:
d.pop('street')

'st1'

In [54]:
d

{'adhar': '1357', 'city': 'hyd', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [55]:
d1

{'adhar': '1357', 'city': 'hyd', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [56]:
l1=[1,2,3,4]
l2=l1

In [57]:
l1.append(100)

In [58]:
l1

[1, 2, 3, 4, 100]

In [59]:
l2

[1, 2, 3, 4, 100]

In [60]:
l1=[1,2,3,4]
l2=l1
print id(l1),id(l2)

139716631591608 139716631591608

In [61]:
l1=[1,2,3,4]
l2=l1
print id(l1),id(l2)
l1.append(100)
print l1,l2
print id(l1),id(l2)

139716740559288 139716740559288
[1, 2, 3, 4, 100] [1, 2, 3, 4, 100]
139716740559288 139716740559288

In [62]:
l1=[1,2,3,4]
l2=l1
print id(l1),id(l2)
l2.append(100)
print l1,l2
print id(l1),id(l2)

139716631952272 139716631952272
[1, 2, 3, 4, 100] [1, 2, 3, 4, 100]
139716631952272 139716631952272

In [63]:
l1=[1,2,3,4]
l2=[1,2,3,4]
print id(l1)
print id(l2)

139716631715352
139716631950184

In [64]:
d={'city': 'hyd', 'name': 'n1', 'street': 'st1', 'adhar': '1357', 'id': 1, 'pan': 'pannumber'}

In [65]:
print d

{'city': 'hyd', 'name': 'n1', 'street': 'st1', 'adhar': '1357', 'id': 1, 'pan': 'pannumber'}

In [66]:
for i in d:
    print i

city
name
street
adhar
id
pan

In [67]:
d

{'adhar': '1357',
 'city': 'hyd',
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber',
 'street': 'st1'}

In [68]:
d1=d

In [69]:
d.pop('street')

'st1'

In [70]:
d1

{'adhar': '1357', 'city': 'hyd', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [71]:
d.popitem()

('city', 'hyd')

In [72]:
d

{'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [73]:
d1

{'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [74]:
d.items()

[('name', 'n1'), ('adhar', '1357'), ('id', 1), ('pan', 'pannumber')]

In [75]:
for key,value in d.items():
    print key,value

name n1
adhar 1357
id 1
pan pannumber

In [76]:
d.values()

['n1', '1357', 1, 'pannumber']

In [77]:
d.keys()

['name', 'adhar', 'id', 'pan']

In [78]:
d.items()

[('name', 'n1'), ('adhar', '1357'), ('id', 1), ('pan', 'pannumber')]

In [79]:
d.viewkeys()

dict_keys(['name', 'adhar', 'id', 'pan'])

In [80]:
for i in d.viewkeys():
    print i

name
adhar
id
pan

In [81]:
for i in d.keys():
    print i

name
adhar
id
pan

In [82]:
k=d.keys()
vk = d.viewkeys()

In [83]:
k

['name', 'adhar', 'id', 'pan']

In [84]:
vk

dict_keys(['name', 'adhar', 'id', 'pan'])

In [85]:
d

{'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [86]:
d['cell']=9676622023

In [87]:
d

{'adhar': '1357',
 'cell': 9676622023,
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber'}

In [88]:
print k

['name', 'adhar', 'id', 'pan']

In [89]:
print vk

dict_keys(['name', 'cell', 'adhar', 'id', 'pan'])

In [90]:
d

{'adhar': '1357',
 'cell': 9676622023,
 'id': 1,
 'name': 'n1',
 'pan': 'pannumber'}

In [91]:
vk

dict_keys(['name', 'cell', 'adhar', 'id', 'pan'])

In [92]:
v=d.values()
vv=  d.viewvalues()

In [93]:
v

['n1', 9676622023, '1357', 1, 'pannumber']

In [94]:
vv

dict_values(['n1', 9676622023, '1357', 1, 'pannumber'])

In [95]:
d.pop('cell')

9676622023

In [96]:
d

{'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [97]:
v

['n1', 9676622023, '1357', 1, 'pannumber']

In [98]:
vv

dict_values(['n1', '1357', 1, 'pannumber'])

In [99]:
d

{'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}

In [101]:
d={'adhar': '1357', 'id': 1, 'name': 'n1', 'pan': 'pannumber'}
v1 = d.viewkeys()
d['cell']=343253245435
v2 = d.viewkeys()

In [102]:
v1

dict_keys(['cell', 'pan', 'adhar', 'name', 'id'])

In [103]:
v2

dict_keys(['cell', 'pan', 'adhar', 'name', 'id'])