In [1]:
name="Anil"
age=23
height=5.6

# name: Anil, age: 23, height: 5.6

print "name:",name

name: Anil

In [2]:
print "Anil:"+name

Anil:Anil

In [3]:
print "name:",name,"age:",age,"height:",height

name: Anil age: 23 height: 5.6

In [4]:
print "name:",name,", age:",age,", height:",height

name: Anil , age: 23 , height: 5.6

In [5]:
a=10
b=20
print a,b

10 20

In [6]:
print "name:",name+", age:",age,", height:",height

name: Anil, age: 23 , height: 5.6

In [7]:
print "name:",name+", age:",age", height:",height

SyntaxError: invalid syntax (<ipython-input-7-722f61dcf941>, line 1)

In [ ]:
print "name:",name+", age:",age+", height:",height

In [8]:
print a,b

10 20

In [9]:
print ab

NameError: name 'ab' is not defined

In [10]:
print "a:"a

SyntaxError: invalid syntax (<ipython-input-10-cc6a41a2d77e>, line 1)

In [11]:
# name: Anil, age: 23, height: 5.6
name="Anil"
age=23
height=5.6
print "name:",name+", age:",age+", height:",height

name: Anil, age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# name: Anil, age: 23, height: 5.6
name="Anil"
age=23
height=5.6
print "name:",name+", age:",str(age)+", height:",height

 name: Anil, age: 23, height: 5.6

In [13]:
# name: Anil, age: 23, height: 5.6
name="Anil"
age=23
height=5.6
print "name:",name+", age:","age"+", height:",height

name: Anil, age: age, height: 5.6

In [14]:
"""
line1
line2
line3
"""
print "line1"
print "line2"
print "line3"

line1
line2
line3

In [15]:
print "line1\nline2\nline3"

line1
line2
line3

In [16]:
print "tab1\ttab2\tline1\nline2"

tab1	tab2	line1
line2

In [18]:
#it's a cool day

print "it's a cool day"

it's a cool day

In [19]:
#t's a "cool" day
print "it's a "cool" day"

SyntaxError: invalid syntax (<ipython-input-19-5e526742e405>, line 2)

In [20]:
#t's a "cool" day
print "it's a \"cool\" day"

it's a "cool" day

In [21]:
# "line1\nline2\nline3"
print "line1\\nline2\\nline3"

line1\nline2\nline3

In [22]:
s="l1\nl2\nl3\n"
print len(s)

9

In [23]:
print r"fsdfsd\nsdgfsdf\tsdfsdf\nsdfsd\tsdfsd\nsdfs\nsfff"

fsdfsd\nsdgfsdf\tsdfsdf\nsdfsd\tsdfsd\nsdfs\nsfff

In [24]:
s=r"l1\nl2\nl3\n"
print len(s)

12

In [25]:
# format specifiers %s %d %f %r
print "%s%d%f",("python",10,2.6)

%s%d%f ('python', 10, 2.6)

In [26]:
# format specifiers %s %d %f %r
print "%s%d%f"%("python",10,2.6)

python102.600000

In [27]:
# name: Anil, age: 23, height: 5.6
name="Anil"
age=23
height=5.6
print "name:",name+", age:","age"+", height:",height

name: Anil, age: age, height: 5.6

In [28]:
# name: Anil, age: 23, height: 5.6
name="Anil"
age=23
height=5.6
print "name: %s, age: %d, height: %f"%(name,age,height)

name: Anil, age: 23, height: 5.600000

In [30]:
# name: Anil, age: 23, height: 5.6
name=1000
age="23"
height=5.6
print "name: %s, age: %d, height: %f"%(name,age,height)

TypeError: %d format: a number is required, not str

In [31]:
# name: Anil, age: 23, height: 5.6
name=1000
age="23"
height=5.6
print "name: %r, age: %r, height: %r"%(name,age,height)

name: 1000, age: '23', height: 5.6

In [32]:
# Get an input from the user?
a=raw_input("Enter some value:")
print "User entered:",a

Enter some value:12
User entered: 12

In [33]:
# Get an input from the user?
a=raw_input("Enter some value:")
print "User entered:",a

Enter some value:python
User entered: python

In [34]:
# Get an input from the user?
a=raw_input("Enter some value:")
print "User entered:",a

Enter some value:2.6
User entered: 2.6

In [35]:
# Get an input from the user?
a=raw_input("Enter some value:")
print "User entered:",a
print type(a)

Enter some value:python
User entered: python
<type 'str'>

In [36]:
# Get an input from the user?
a=raw_input("Enter some value:")
print "User entered:",a
print type(a)

Enter some value:23
User entered: 23
<type 'str'>

In [37]:
s="12345"
print type(s)

<type 'str'>

In [38]:
s=1234
print type(s)

<type 'int'>

In [39]:
a=raw_input("Enter a value: ")
b=raw_input("Enter b value: ")
print a+b

Enter a value: 20
Enter b value: 40
2040

In [40]:
print "20"+"40"

2040

In [41]:
a=raw_input("Enter first number: ")
b=raw_input("Enter second number: ")
a=int(a)
b=int(b)
print a+b

Enter first number: 12
Enter second number: 34
46

In [42]:
a=raw_input("Enter first number: ")
b=raw_input("Enter second number: ")

print int(a)+int(b)

Enter first number: 12
Enter second number: 34
46

In [43]:
a=int(raw_input("Enter first number: "))
b=int(raw_input("Enter second number: "))

print a+b

Enter first number: 23
Enter second number: 34
57

In [44]:
a=raw_input("Enter first number: ")
b=raw_input("Enter second number: ")
a=int(a)
b=int(b)
print a+b

Enter first number: 2.6
Enter second number: 34

ValueError: invalid literal for int() with base 10: '2.6'

In [45]:
int(2.6)

2

In [46]:
int("2.6")

ValueError: invalid literal for int() with base 10: '2.6'

In [47]:
a=raw_input("Enter first number: ")
b=raw_input("Enter second number: ")
a=float(a)
b=float(b)
print a+b

Enter first number: 1.3
Enter second number: 34
35.3

In [48]:
a=raw_input("Enter first number: ")
b=raw_input("Enter second number: ")
a=float(a)
b=float(b)
print a+b

Enter first number: asdas
Enter second number: asdas

ValueError: could not convert string to float: asdas

In [49]:
a=input("Enter a number:")
print a, type(a)

Enter a number:12
12 <type 'int'>

In [50]:
a=input("Enter a number:")
print a, type(a)

Enter a number:2.6
2.6 <type 'float'>

In [51]:
a=input("Enter a number:")
print a, type(a)

Enter a number:True
True <type 'bool'>

In [52]:
a=input("Enter a number:")
print a, type(a)

Enter a number:"python"
python <type 'str'>

In [53]:
a=input("Enter a number:")
print a, type(a)

Enter a number:python

NameError: name 'python' is not defined

In [54]:
s="dsfsd"

In [55]:
s.capitalize?

In [56]:
# boolean statements
a=10
b=20
a>b

False

In [57]:
a=10
b=10.0
print a==b

True

In [58]:
print a is b

False

In [59]:
a=10
b=10
print a==b
print a is b

True
True

In [60]:
l=[1,2,3,4]
l1=[1,2,3,4]
print l==l1
print l is l1

True
False

In [61]:
print id(l),id(l1)

139943191981520 139943059533120

In [62]:
a=10
b=2
a>b

True

In [63]:
bool(a>b)

True

In [64]:
bool(a<b)

False

In [65]:
bool(10>20)

False

In [66]:
bool("10">20)

True

In [67]:
bool("abc">23)

True

In [68]:
bool("1">100)

True

In [69]:
bool('12'>'2')

False

In [70]:
# "apple', 'cat', 'bat'
# "12",'2',"3"

In [71]:
bool('b'>'a')

True

In [72]:
bool('a'>'b')

False

In [73]:
bool('12'>'2')

False

In [74]:
x=5
y=x+3
z=int(str(y)+"2")
print z,type(z)

82 <type 'int'>

In [75]:
int("8"+"2")

82