In [1]:
f=open('data1.txt')
data = f.read()

In [2]:
print data

23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,25,pavan3@outlook.co.in

In [3]:
import re

In [5]:
re.findall('[0-9]{10}',data)

['8798765467',
 '2345678904',
 '3456789234',
 '8798765468',
 '2345678905',
 '3456789235']

In [6]:
#[]{}.*+?

In [7]:
re.findall('ashok',data)

['ashok', 'ashok', 'ashok', 'ashok']

In [8]:
re.findall('.',data)

['2',
 '3',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 ',',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '7',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 '1',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 'a',
 'n',
 'i',
 'l',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '2',
 '4',
 ',',
 'a',
 'n',
 'i',
 'l',
 ',',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '4',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '4',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 ',',
 '2',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n',
 '2',
 '6',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 ',',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '8',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 '2',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 'a',
 'n',
 'i',
 'l',
 '3',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '2',
 '5',
 ',',
 'a',
 'n',
 'i',
 'l',
 ',',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '5',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 ',',
 '2',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 '3',
 '@',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n']

In [9]:
re.findall('.',data,re.DOTALL)

['2',
 '3',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 ',',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '7',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 '1',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 '\n',
 'a',
 'n',
 'i',
 'l',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '2',
 '4',
 ',',
 'a',
 'n',
 'i',
 'l',
 ',',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '4',
 '\n',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '4',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 ',',
 '2',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n',
 '\n',
 '2',
 '6',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 ',',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '8',
 ',',
 'a',
 's',
 'h',
 'o',
 'k',
 '2',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 '\n',
 'a',
 'n',
 'i',
 'l',
 '3',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '2',
 '5',
 ',',
 'a',
 'n',
 'i',
 'l',
 ',',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '5',
 '\n',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 ',',
 '2',
 '5',
 ',',
 'p',
 'a',
 'v',
 'a',
 'n',
 '3',
 '@',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n',
 '\n',
 '\n']

In [10]:
re.findall('.{2}',data)

['23',
 ',a',
 'sh',
 'ok',
 ',8',
 '79',
 '87',
 '65',
 '46',
 '7,',
 'as',
 'ho',
 'k1',
 '@g',
 'ma',
 'il',
 '.c',
 'om',
 'an',
 'il',
 '2@',
 'ya',
 'ho',
 'o.',
 'co',
 'm,',
 '24',
 ',a',
 'ni',
 'l,',
 '23',
 '45',
 '67',
 '89',
 '04',
 '34',
 '56',
 '78',
 '92',
 '34',
 ',p',
 'av',
 'an',
 ',2',
 '5,',
 'pa',
 'va',
 'n2',
 '@y',
 'ah',
 'oo',
 '.c',
 'o.',
 'in',
 '26',
 ',a',
 'sh',
 'ok',
 ',8',
 '79',
 '87',
 '65',
 '46',
 '8,',
 'as',
 'ho',
 'k2',
 '@g',
 'ma',
 'il',
 '.c',
 'om',
 'an',
 'il',
 '3@',
 'ya',
 'ho',
 'o.',
 'co',
 'm,',
 '25',
 ',a',
 'ni',
 'l,',
 '23',
 '45',
 '67',
 '89',
 '05',
 '34',
 '56',
 '78',
 '92',
 '35',
 ',p',
 'av',
 'an',
 ',2',
 '5,',
 'pa',
 'va',
 'n3',
 '@o',
 'ut',
 'lo',
 'ok',
 '.c',
 'o.',
 'in']

In [12]:
re.findall('.{4}',data)

['23,a',
 'shok',
 ',879',
 '8765',
 '467,',
 'asho',
 'k1@g',
 'mail',
 '.com',
 'anil',
 '2@ya',
 'hoo.',
 'com,',
 '24,a',
 'nil,',
 '2345',
 '6789',
 '3456',
 '7892',
 '34,p',
 'avan',
 ',25,',
 'pava',
 'n2@y',
 'ahoo',
 '.co.',
 '26,a',
 'shok',
 ',879',
 '8765',
 '468,',
 'asho',
 'k2@g',
 'mail',
 '.com',
 'anil',
 '3@ya',
 'hoo.',
 'com,',
 '25,a',
 'nil,',
 '2345',
 '6789',
 '3456',
 '7892',
 '35,p',
 'avan',
 ',25,',
 'pava',
 'n3@o',
 'utlo',
 'ok.c',
 'o.in']

In [13]:
re.findall('[01234]',data)

['2',
 '3',
 '4',
 '1',
 '2',
 '2',
 '4',
 '2',
 '3',
 '4',
 '0',
 '4',
 '3',
 '4',
 '2',
 '3',
 '4',
 '2',
 '2',
 '2',
 '4',
 '2',
 '3',
 '2',
 '2',
 '3',
 '4',
 '0',
 '3',
 '4',
 '2',
 '3',
 '2',
 '3']

In [14]:
re.findall('[0-9]',data)

['2',
 '3',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '7',
 '1',
 '2',
 '2',
 '4',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '4',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '4',
 '2',
 '5',
 '2',
 '2',
 '6',
 '8',
 '7',
 '9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '6',
 '8',
 '2',
 '3',
 '2',
 '5',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '5',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '3',
 '5',
 '2',
 '5',
 '3']

In [15]:
re.findall('[0-9]{5}',data)

['87987',
 '65467',
 '23456',
 '78904',
 '34567',
 '89234',
 '87987',
 '65468',
 '23456',
 '78905',
 '34567',
 '89235']

In [17]:
re.findall('[0-9]{10}',data)

['8798765467',
 '2345678904',
 '3456789234',
 '8798765468',
 '2345678905',
 '3456789235']

In [18]:
re.findall('[0-9]{5,10}',data)

['8798765467',
 '2345678904',
 '3456789234',
 '8798765468',
 '2345678905',
 '3456789235']

In [19]:
re.findall('[0-9]*',data)

['23',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '8798765467',
 '',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '24',
 '',
 '',
 '',
 '',
 '',
 '',
 '2345678904',
 '',
 '3456789234',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '25',
 '',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '26',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '8798765468',
 '',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '25',
 '',
 '',
 '',
 '',
 '',
 '',
 '2345678905',
 '',
 '3456789235',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '25',
 '',
 '',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [20]:
#re.findall('[0-9]*',data)
print data

23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,25,pavan3@outlook.co.in

In [22]:
print re.findall('[0-9]+',data)
print data

['23', '8798765467', '1', '2', '24', '2345678904', '3456789234', '25', '2', '26', '8798765468', '2', '3', '25', '2345678905', '3456789235', '25', '3']
23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,25,pavan3@outlook.co.in

In [23]:
print re.findall('[0-9]?',data)
print data

['2', '3', '', '', '', '', '', '', '', '8', '7', '9', '8', '7', '6', '5', '4', '6', '7', '', '', '', '', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '2', '4', '', '', '', '', '', '', '2', '3', '4', '5', '6', '7', '8', '9', '0', '4', '', '3', '4', '5', '6', '7', '8', '9', '2', '3', '4', '', '', '', '', '', '', '', '2', '5', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '2', '6', '', '', '', '', '', '', '', '8', '7', '9', '8', '7', '6', '5', '4', '6', '8', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '3', '', '', '', '', '', '', '', '', '', '', '', '2', '5', '', '', '', '', '', '', '2', '3', '4', '5', '6', '7', '8', '9', '0', '5', '', '3', '4', '5', '6', '7', '8', '9', '2', '3', '5', '', '', '', '', '', '', '', '2', '5', '', '', '', '', '', '', '3', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,25,pavan3@outlook.co.in

In [24]:
data = open('data1.txt').read()

In [25]:
print data

23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,27,pavan3@outlook.co.in
3456789236,pavan,26,PAVAAAN4@outlook.co.in

In [27]:
re.findall('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*',data)

['ashok1@gmail.com',
 'anil2@yahoo.com',
 'pavan2@yahoo.co.in',
 'ashok2@gmail.com',
 'anil3@yahoo.com',
 'pavan3@outlook.co.in',
 'PAVAAAN4@outlook.co.in']

In [28]:
# compile
email_reg = re.compile('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*')

In [29]:
email_reg.findall(data)

['ashok1@gmail.com',
 'anil2@yahoo.com',
 'pavan2@yahoo.co.in',
 'ashok2@gmail.com',
 'anil3@yahoo.com',
 'pavan3@outlook.co.in',
 'PAVAAAN4@outlook.co.in']

In [30]:
data

'23,ashok,8798765467,ashok1@gmail.com\nanil2@yahoo.com,24,anil,2345678904\n3456789234,pavan,25,pavan2@yahoo.co.in\n26,ashok,8798765468,ashok2@gmail.com\nanil3@yahoo.com,25,anil,2345678905\n3456789235,pavan,27,pavan3@outlook.co.in\n3456789236,pavan,26,PAVAAAN4@outlook.co.in\n\n'

In [31]:
# $^

In [32]:
re.findall('^[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*',data)

[]

In [33]:
re.findall('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*$',data)

[]

In [41]:
re.match('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*$',data)

In [42]:
re.search('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*',data)

In [43]:
matched  = re.search('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*',data)

In [44]:
matched.group(0)

'ashok1@gmail.com'

In [48]:
print re.findall('^[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*',data,re.I|re.M)
print data

['anil2@yahoo.com', 'anil3@yahoo.com']
23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,27,pavan3@outlook.co.in
3456789236,pavan,26,PAVAAAN4@outlook.co.in

In [50]:
print re.findall('[a-zA-Z0-9]+@[a-z]+\.[com]{2,3}\.?[in]*\n$',data,re.I|re.M)
print data

['PAVAAAN4@outlook.co.in\n']
23,ashok,8798765467,ashok1@gmail.com
anil2@yahoo.com,24,anil,2345678904
3456789234,pavan,25,pavan2@yahoo.co.in
26,ashok,8798765468,ashok2@gmail.com
anil3@yahoo.com,25,anil,2345678905
3456789235,pavan,27,pavan3@outlook.co.in
3456789236,pavan,26,PAVAAAN4@outlook.co.in

In [51]:
data

'23,ashok,8798765467,ashok1@gmail.com\nanil2@yahoo.com,24,anil,2345678904\n3456789234,pavan,25,pavan2@yahoo.co.in\n26,ashok,8798765468,ashok2@gmail.com\nanil3@yahoo.com,25,anil,2345678905\n3456789235,pavan,27,pavan3@outlook.co.in\n3456789236,pavan,26,PAVAAAN4@outlook.co.in\n\n'